*{
    margin: 0;
    font-family: arial ;
    border: border-box;
}
/* navbar */
.navbar{
    height: 60px; 
    background-color: hsl(180, 14%, 1%);
    color:white ;
    display: flex;
    justify-content: space-evenly;
}
/* navbar logo */
.nav-logo{
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: right;

}
/* logo */
.logo{
    background-size: cover;
    height: 50px;
    width: 100px;
    justify-content: right;
    display: flex;
}
/* image of logo icon */
.image-1 {
    height: 50px;
    width: 90px;
    justify-content: left;
    
    
}
.border :hover{
    border:1.5px solid;
    align-items: center;
    justify-content:space-evenly; 
    
    
}

/* navbar search */
.search{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 460px;
    height: 34px;
    align-items: center;
    margin-top: 15px;
    
}
/* search select all */
.search-select{
    background-color: #f3f3f3;
    height: 34px;
    width: 50px;
    text-align: center;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
    align-items: center;
   justify-content: center; 
   margin-bottom: 1px;
}
   
/* seach inpu seach bar */
.search-input{
    width:500px;
    font-size: 1rem;
    border: none;
    border-radius:4px;
    height: 30px;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box4 span */
.span{
    font-size: 0.7rem;
}
.nav-second{
    font-size:15px;
    font-weight: 800;
    margin-top: 20px;
    

}
.nav-singin:hover {
    border:1.5px solid white;
}
.nav-second:hover{
      border: 1.5px solid white;
 
      
      
}
.nav-cart i{
    font-size: 40px;
    
    
}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: azure;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops{
    display: inline;
    justify-content: space-evenly;

}
/* Hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    
}
/* hero msg */
.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-msg a{
    color:#007100 ;
}
    
/* shop section */
.shop-section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid rgba(0, 0, 0, 0);
    height: 400px;
    width:23%;
    background-color: white ;
    padding: 20px 0px 15px;
    margin: 10px;
}
/*  */
.box-img {
    height: 350px;
    background-size: cover;

} 
.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.hero-section-2{
    background-image: url("html holdar/amit9.jpg");
    background-size: cover;
    height: 400px;
}
/* footer */
.footer{
    margin-top:20px;
}
.foot-panel1{
    background-color:#37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 0.85;
    margin-right: 15px;
    margin-right: 40px;
}
.foot-panel2{
     background-color:#222f3d ;
     color: white;
     height: 500px;
     display: flex;
     justify-content: space-evenly;
     border-top: 0.5px solid white;
     margin-right: 40px;
}

ul a{
    display: block;
    
    
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 60px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.foot-panel4{
    background-color: #0f1111;
    color: wheat;
    height: 100px;
    font-size: 0.5;
    text-align: center;
    margin-right: 40px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

}
.pages{
    
    padding-top: 25px;
    margin-right: 40px;

}
.copyright{
    padding-top: 5px;
}
.para-1 {
    color: blue;
}
.cart {
    padding-top: 20px;
}